$additional-colors: (
  'rd-grey': $rd-grey,
  'rd-grey-1': $rd-grey-1,
  'rd-grey-2': $rd-grey-2,
  'rd-grey-3': $rd-grey-3,
  'rd-grey-4': $rd-grey-4,
  'rd-grey-5': $rd-grey-5,
  'rd-grey-6': $rd-grey-6,
  'rd-grey-7': $rd-grey-7,
  'rd-grey-8': $rd-grey-8,
  'rd-grey-9': $rd-grey-9,
  'rd-grey-10': $rd-grey-10,
  'rd-grey-11': $rd-grey-11,
  'rd-grey-12': $rd-grey-12,
  'rd-grey-13': $rd-grey-13,
  'rd-grey-14': $rd-grey-14,
  'dark-red': $dark-red,
  'dark-red-1': $dark-red-1,
  'dark-red-2': $dark-red-2,
  'dark-red-3': $dark-red-3,
  'dark-red-4': $dark-red-4,
  'dark-red-5': $dark-red-5,
  'dark-red-6': $dark-red-6,
  'dark-red-7': $dark-red-7,
  'dark-red-8': $dark-red-8,
  'dark-red-9': $dark-red-9,
  'dark-red-10': $dark-red-10,
  'dark-red-11': $dark-red-11,
  'dark-red-12': $dark-red-12,
  'dark-red-13': $dark-red-13,
  'dark-red-14': $dark-red-14,
  'egyptian-blue': $egyptian-blue,
  'egyptian-blue-1': $egyptian-blue-1,
  'egyptian-blue-2': $egyptian-blue-2,
  'egyptian-blue-3': $egyptian-blue-3,
  'egyptian-blue-4': $egyptian-blue-4,
  'egyptian-blue-5': $egyptian-blue-5,
  'egyptian-blue-6': $egyptian-blue-6,
  'egyptian-blue-7': $egyptian-blue-7,
  'egyptian-blue-8': $egyptian-blue-8,
  'egyptian-blue-9': $egyptian-blue-9,
  'egyptian-blue-10': $egyptian-blue-10,
  'egyptian-blue-11': $egyptian-blue-11,
  'egyptian-blue-12': $egyptian-blue-12,
  'egyptian-blue-13': $egyptian-blue-13,
  'egyptian-blue-14': $egyptian-blue-14,
  'dodger-blue': $dodger-blue,
  'dodger-blue-1': $dodger-blue-1,
  'dodger-blue-2': $dodger-blue-2,
  'dodger-blue-3': $dodger-blue-3,
  'dodger-blue-4': $dodger-blue-4,
  'dodger-blue-5': $dodger-blue-5,
  'dodger-blue-6': $dodger-blue-6,
  'dodger-blue-7': $dodger-blue-7,
  'dodger-blue-8': $dodger-blue-8,
  'dodger-blue-9': $dodger-blue-9,
  'dodger-blue-10': $dodger-blue-10,
  'dodger-blue-11': $dodger-blue-11,
  'dodger-blue-12': $dodger-blue-12,
  'dodger-blue-13': $dodger-blue-13,
  'dodger-blue-14': $dodger-blue-14,
  'wild-willow': $wild-willow,
  'wild-willow-1': $wild-willow-1,
  'wild-willow-2': $wild-willow-2,
  'wild-willow-3': $wild-willow-3,
  'wild-willow-4': $wild-willow-4,
  'wild-willow-5': $wild-willow-5,
  'wild-willow-6': $wild-willow-6,
  'wild-willow-7': $wild-willow-7,
  'wild-willow-8': $wild-willow-8,
  'wild-willow-9': $wild-willow-9,
  'wild-willow-10': $wild-willow-10,
  'wild-willow-11': $wild-willow-11,
  'wild-willow-12': $wild-willow-12,
  'wild-willow-13': $wild-willow-13,
  'wild-willow-14': $wild-willow-14,
  'primary-light': $primary-light,
  'primary-dark': $primary-dark,
);

@each $name, $color in $additional-colors {
  .text-#{$name} {
    color: $color !important;
  }

  .bg-#{$name} {
    background: $color !important;
  }
}
